// styles for IDEA - copy from src/theme/vars
:root {
  // fonts
  --font: "Inter", sans-serif;
  --fontSecond: "Jura", sans-serif;
  --fontThird: "Share Tech Mono", sans-serif;

  // colors
  --primary: #fff;
  --secondary: #fff;
  --background: #fff;
  --yellow: #fff;
  --token: #fff;
  --black: #fff;
  --white: #fff;
  --neutralWhite: #f6f6f6;
  --darkGray: #312839;
  --backgroundLogo: #fff;
  --backgroundDefault: #130d18;
  --backgroundDark: #19131f;
  --backgroundLight: #221a29;
  --backgroundInput: #35293d;
  --backgroundInputText: #8e6fa3;
  --backgroundSideNav: #170f1f;
  --textDisabled: #675671;
  --textPrimary: #d7d7d7;
  --textSecondary: #9e9e9e;
  --textTertiary: #666;
  --stateNegative: #ec605a;
  --statePositive: #63b48e;
  --brandingPrimary: #61ff00;
  --brandingSecondary: #8000ff;
  --brandingAdditionalPink: #fff;
  --brandingAdditionalYellow: #fff;
  --newBackgroundDark: #fff;
  --newBackgroundLight: #fff;
  --newOutline: #3f1d5b;
  --newText: #cb8cff;
  --favIcon: #ceb013;

  // radius
  --radiusSmall: 0.2rem;
  --radius: 0.4rem;
  --radiusLarge: 0.8rem;

  // buttons
  --heightSmall: 2.8rem;
  --heightButton: 3.2rem;
  --heightButtonBig: 4rem;
  --heightButtonLarge: 4.8rem;

  // settings
  --widthColumnGap: 2rem;
  --widthColumnTableRight: 1.8rem;
  --widthColumn: 100%;
  --widthMinColumn: 32rem;
  --widthMaxColumn: 36rem;

  // spacing
  --spacingDefault: 2.4rem;
}
