$headerBlockHeight: 3.6rem;
$headerBlockPos: 0.3rem;
$headerBlockFontSize: 1.1rem;
$sizeFontSize: 1.1rem;
$sizeRightGap: 1.3rem;
$transitionSpeed: 0.2s;
$transitionSpeedFast: 0.1s;

// breakpoints
$breakpointTablet: 1020px; // <= tablet
$breakpointLaptop: 1300px; // <= laptop
$breakpointDesktop: 1800px; // <= desktop
